* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

#search_button, #search_bar {
    height: 20px;
}

img {
    width: 150px;
    height: 150px;
}